.DS_Store
*.pb.*
*.a
*.o
*.dylib*
*.so
*.so.*
*_test
*.swp
.vscode/
build_config.mk
out-shared/
out-static/
build/
test/test1/g*
test/test2/g*
test/test3/g*
examples/journey/build_config.mk
examples/journey/journey_client
examples/journey/journey_server
