.DS_Store
*.pb.*
*.a
*.o
*.dylib*
*.so
*.so.*
*_test
*.swp
build_config.mk
out-shared/
out-static/
build/
test/test1/g0
test/test2/g0
test/test3/g0
examples/journey/build_config.mk
examples/journey/journey_client
examples/journey/journey_server
